<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yennefer.estatefinder">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="jade.android.RuntimeService" />

        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.ResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.AdvertActivity"
            android:label="@string/title_activity_advert"
            android:parentActivityName=".gui.ResultsActivity" />
        <activity
            android:name=".gui.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".gui.AboutActivity"
            android:label="@string/title_activity_about"
            ></activity>
    </application>

</manifest>